
<div class="outer">
  <div class="bgimg">
    <div class="bgimg::before">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-8 align-items-center justify-content-center">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weigth-bold">Edit Train</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="trainForm" (ngSubmit)="onSubmit()">
              <br>
              <div class="grid-container">
                
                <div class="d-flex justify-content-center">
                  <div class="left-section">
                    <div class="form-group">
                      <label for="trainName">Train Name:</label>
                      <div class="input-field">
                        <span class="fa fa-train input-icon"></span>
                        <input formControlName="trainName" id="trainName" type="text" placeholder="Train Name">
                      </div>
                      <small class="text-danger"
                        *ngIf="(trainForm.controls['trainName'].dirty || trainForm.controls['trainName'].touched) && trainForm.hasError('required', 'trainName')">
                        *Train Name is required
                      </small>
                    </div>
                    <div class="form-group">
                      <label for="startloc">Start Location:</label>
                      <div class="input-field">
                        <i class="fa fa-map-marker input-icon"></i>
                        <input formControlName="startloc" id="startloc" type="text" placeholder="Start Location">
                      </div>
                      <small class="text-danger"
                        *ngIf="(trainForm.controls['startloc'].dirty || trainForm.controls['startloc'].touched) && trainForm.hasError('required', 'startloc')">
                        *Start Location is required
                      </small>
                    </div>

                    <div class="form-group">
                      <label for="endloc">End Location:</label>
                      <div class="input-field">
                        <i class="fa fa-map-marker input-icon"></i>
                        <input formControlName="endloc" id="endloc" type="text" placeholder="End Location" required>
                      </div>
                      <small class="text-danger"
                        *ngIf="(trainForm.controls['endloc'].dirty || trainForm.controls['endloc'].touched) && trainForm.hasError('required', 'endloc')">
                        *End Location is required
                      </small>
                    </div>

                    <div class="form-group">
                      <label for="arrivaltime">Arrival Time:</label>
                      <div class="input-field">
                        <i class="fa fa-clock-o input-icon"></i>
                        <input formControlName="arrivaltime" id="arrivaltime" type="time" placeholder="Arrival Time"
                           required>
                      </div>
                      <small class="text-danger"
                        *ngIf="(trainForm.controls['arrivaltime'].dirty || trainForm.controls['arrivaltime'].touched) && trainForm.hasError('required', 'arrivaltime')">
                        *Arrival Time is required
                      </small>
                    </div>
                    <div class="form-group">
                      <label for="departuretime">Departure Time:</label>
                      <div class="input-field">
                        <i class="fa fa-clock-o input-icon"></i>
                        <input formControlName="departuretime" id="departuretime" type="time"
                          placeholder="Departure Time"  required>
                      </div><small class="text-danger"
                        *ngIf="(trainForm.controls['departuretime'].dirty || trainForm.controls['departuretime'].touched) && trainForm.hasError('required', 'departuretime')">
                        *Departure Time is required
                      </small>
                    </div>
                    <div class="form-group">
                      <label for="arrivaldate">Departure Date:</label>
                      <div class="input-field">
                        <i class="fa fa-calendar input-icon"></i>
                        <input formControlName="arrivaldate" id="arrivaldate" type="date" placeholder="Departure Date" [min]="minDate"
                           required>
                      </div><small class="text-danger"
                        *ngIf="(trainForm.controls['arrivaldate'].dirty || trainForm.controls['arrivaldate'].touched) && trainForm.hasError('required', 'arrivaldate')">
                        *Arrival Date is required
                      </small>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="right-section">
                    
                    <div class="form-group">
                      <label for="ac1tier">AC 1 Tier:</label>
                      <div class="input-field">
                        <i class="fa fa-sort-numeric-desc input-icon"></i>
                        <input formControlName="ac1tier" id="ac1tier" type="number" placeholder="AC 1 Tier" required>
                        
                      </div>
                      <small class="text-danger"
                          *ngIf="(trainForm.controls['ac1tier'].dirty || trainForm.controls['ac1tier'].touched) && trainForm.hasError('required', 'ac1tier')">
                          *AC 1 Tier is required
                        </small>
                        <small class="text-danger"
                          *ngIf="trainForm.controls['ac1tier'].dirty && trainForm.controls['ac1tier'].hasError('min')">
                          *AC 1 Tier must be greater than or equal to 1
                        </small>
                    </div>

                    <div class="form-group">
                      <label for="ac2tier">AC 2 Tier:</label>
                      <div class="input-field">
                        <i class="fa fa-sort-numeric-desc input-icon"></i>
                        <input formControlName="ac2tier" id="ac2tier" type="number" placeholder="AC 2 Tier" required>
                        
                      </div>
                      <small class="text-danger"
                          *ngIf="(trainForm.controls['ac2tier'].dirty || trainForm.controls['ac2tier'].touched) && trainForm.hasError('required', 'ac2tier')">
                          *AC 2 Tier is required
                        </small>
                        <small class="text-danger"
                          *ngIf="trainForm.controls['ac2tier'].dirty && trainForm.controls['ac2tier'].hasError('min')">
                          *AC 2 Tier must be greater than or equal to 1
                        </small>
                    </div>

                    <div class="form-group">
                      <label for="ac3tier">AC 3 Tier:</label>
                      <div class="input-field">
                        <i class="fa fa-sort-numeric-desc input-icon"></i>
                        <input formControlName="ac3tier" id="ac3tier" type="number" placeholder="AC 3 Tier" required>
                        
                      </div>
                      <small class="text-danger"
                          *ngIf="(trainForm.controls['ac3tier'].dirty || trainForm.controls['ac3tier'].touched) && trainForm.hasError('required', 'ac3tier')">
                          *AC 3 Tier is required
                        </small>
                        <small class="text-danger"
                          *ngIf="trainForm.controls['ac3tier'].dirty && trainForm.controls['ac3tier'].hasError('min')">
                          *AC 3 Tier must be greater than or equal to 1
                        </small>
                    </div>

                    <div class="form-group">
                      <label for="sleeper">Sleeper:</label>
                      <div class="input-field">
                        <i class="fa fa-sort-numeric-desc input-icon"></i>
                        <input formControlName="sleeper" id="sleeper" type="number" placeholder="Sleeper" required>
                        
                      </div>
                      <small class="text-danger"
                          *ngIf="(trainForm.controls['sleeper'].dirty || trainForm.controls['sleeper'].touched) && trainForm.hasError('required', 'sleeper')">
                          *Sleeper is required
                        </small>
                        <small class="text-danger"
                          *ngIf="trainForm.controls['sleeper'].dirty && trainForm.controls['sleeper'].hasError('min')">
                          *Sleeper must be greater than or equal to 1
                        </small>
                    </div>

                    <div class="form-group">
                      <label for="tatkal">Tatkal:</label>
                      <div class="input-field">
                        <i class="fa fa-sort-numeric-desc input-icon"></i>
                        <input formControlName="tatkal" id="tatkal" type="number" placeholder="Tatkal" required>
                        
                      </div>
                      <small class="text-danger"
                          *ngIf="(trainForm.controls['tatkal'].dirty || trainForm.controls['tatkal'].touched) && trainForm.hasError('required', 'tatkal')">
                          *Tatkal is required
                        </small>
                        <small class="text-danger"
                          *ngIf="trainForm.controls['tatkal'].dirty && trainForm.controls['tatkal'].hasError('min')">
                          *Tatkal must be greater than or equal to 1
                        </small>
                    </div>

                    <div class="form-group">
                      <label for="ladies">Ladies:</label>
                      <div class="input-field">
                        <i class="fa fa-sort-numeric-desc input-icon"></i>
                        <input formControlName="ladies" id="ladies" type="number" placeholder="Ladies" required>
                        
                      </div>
                      <small class="text-danger"
                          *ngIf="(trainForm.controls['ladies'].dirty || trainForm.controls['ladies'].touched) && trainForm.hasError('required', 'ladies')">
                          *Ladies is required
                        </small>
                        <small class="text-danger"
                          *ngIf="trainForm.controls['ladies'].dirty && trainForm.controls['ladies'].hasError('min')">
                          *Ladies must be greater than or equal to 1
                        </small>
                    </div>

                  </div>
                </div>
              </div>
              <div class="form-group" style="margin-right: 65px;margin-left:64px;">
                <label for="baseFare">Base Fare:</label>
                <div class="input-field">
                  <i class="fa fa-sort-numeric-desc input-icon"></i>
                  <input formControlName="baseFare" id="baseFare" type="Number" placeholder="Base Fare">
                  
                </div>
                <small class="text-danger" *ngIf="trainForm.controls['baseFare'].dirty && trainForm.controls['baseFare'].hasError('min')">
                  *Base Fare must be greater than or equal to 1
                </small>
              </div>

	<div class="form-group d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-primary w-50">Save</button>
        <button type="button" class="btn btn-outline-secondary w-50" (click)="cancel()">Cancel</button>
      </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div></div>