
  .contact-card {
    display: flex;
    align-items: center;
    margin-bottom: 30px; /* Increase the margin */
  }
  .contact-card img {
    width: 90px; /* Increase the image width */
    height: 90px; /* Increase the image height */
    border-radius: 50%;
    margin-right: 20px; /* Increase the margin */
  }
  .contact-card .contact-details {
    flex: 1;
  }
  .contact-card h2 {
    font-size: 20px; /* Increase the font size */
    margin: 0;
    color: #333;
  }
  .contact-card p {
    margin: 10px 0; /* Increase the margin */
    color: #666;
  }
  .contact-card .contact-number {
    font-weight: bold;
    color: #555;
  }
  .contact-card:last-child {
    margin-bottom: 0;
  }
  .outer {
    height: 100vh;
  }
  .panel-heading {
    text-align: center;
    margin-bottom: 10px; /* Increase the margin */
  }
