
<div class="outer">
  <div class="bgimg">

<div class="container">
  <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-mg-3">
<div class="panel bg-white border">

 

  <h3 class="pt-3 font-weight-bold">About Us !</h3><br>

  <div>

    

      Welcome to our railway reservation system! We strive to provide a seamless and convenient booking experience for all passengers. Our platform offers a wide range of services and features to ensure a comfortable journey for everyone.

        With our user-friendly interface, you can easily search for train schedules, book tickets, and manage your reservations. We aim to make the entire process hassle-free and efficient, saving you time and effort.

       Our dedicated team of professionals is committed to delivering excellent customer service. We value your feedback and continuously work towards enhancing our system to meet your needs and expectations.

       Thank you for choosing our railway reservation system. We look forward to serving you and providing you with a delightful travel experience.  

    </div>

     <div class="read">

 

    </div>

  </div>
  </div>
  </div>
  </div>
  </div>
  </div>

