
<div class="fullscreen-background">
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <div class="home-container train" >
      
      
        <div class="text-center">
          <h1 class="home-title text-dark" style="margin-top: 40px;"><b>Welcome to Online Railway Reservation System</b></h1>
          <b><h2 class="home-description text-dark">Book your train tickets hassle-free!</h2></b>
        </div>
        
        </div>
      </div>

      <footer>
        <div class="center">
          <marquee direction="left" behavior="scroll" scrollamount="12" >
            <b><h3 style="color: white">Have a Comfortable, Reasonable, and Pleasant Journey</h3></b>
            <p>Copyright @Ashlesha, Yasvi, Sonali</p>
          </marquee>
         <p style="text-align: center;">Copyright @Ashlesha, Yasvi ,Sonali</p>
        </div>
      </footer>
      </div>
